body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}

header{
background:#37003c;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

nav{
background:#00ff87;
text-align:center;
padding:10px;
}

nav a{
margin:10px;
font-weight:bold;
text-decoration:none;
color:black;
}

main{
padding:30px;
}

.news-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.team{
display:flex;
align-items:center;
gap:10px;
}

.team img{
width:30px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#37003c;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #ddd;
}

.dark{
background:#111;
color:white;
}

.dark .card{
background:#1e1e1e;
}