body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}

header{
background:#37003c;
color:white;
padding:25px;
text-align:center;
}

nav{
background:#00ff87;
text-align:center;
padding:10px;
}

nav a{
margin:15px;
text-decoration:none;
font-weight:bold;
color:black;
}

main{
padding:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

table{
width:100%;
border-collapse:collapse;
background:white;
margin-top:20px;
}

th{
background:#37003c;
color:white;
padding:10px;
}

td{
padding:10px;
border-bottom:1px solid #ddd;
text-align:center;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}